<link href="{{ asset('styles/css/sidebar.css') }}" rel="stylesheet"/>
<nav class="main-menu">
    <br>
    <ul>
        <li>
            <a href="{{ path('calendar_index') }}">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                            Календарь
                        </span>
            </a>

        </li>

    </ul>

    <ul class="logout">
        <li>
            <a href="{{ path('app_login') }}">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                            Войти
                        </span>
            </a>
        </li>
    </ul>
</nav>