{% extends 'base.html.twig' %}

{% block body %}

    <div class="columns is-centered is-size-4 has-text-info-dark">
            Календарь
    </div>

    {% include 'main/calendar.html.twig' %}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('styles/css/calendar.css') }}" rel="stylesheet"/>

{% endblock %}

{% block header %}
    <a class="navbar-item">
        <div class="column is-narrow is-size-6 has-text-grey-dark" action="{{ path('homepage') }}">
            Сайт бронирования мероприятий в горном
        </div>
        <div class="column is-narrow is-size-6 has-text-grey-dark">

        </div>
    </a>

{% endblock %}


{% block javascripts %}

{% endblock %}