{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('styles/css/calendar.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    {% include 'admin/utils/sidebar.html.twig' %}
    <br>
    <h4 class="has-text-centered has-text-info title is-4">
        Календарь
    </h4>
    {% include 'admin/utils/calendar.html.twig' %}

{% endblock %}

{% block javascripts %}
{% endblock %}