{% extends 'base.html.twig' %}

{% block title %}New Booking{% endblock %}

{% block body %}
        <div class="columns is-mobile is-centered">
                <div class="column is-narrow is-size-2 has-text-link-dark">
                        Заявка
                </div>
        </div>

        {{ include('main/_form.html.twig') }}

{#    <a href="{{ path('main') }}">back to list</a>#}
{% endblock %}