<div class="columns is-mobile is-centered">
    <div class="column is-narrow">
            {{ form_start(form) }}
            <div class="field">
                {{ form_widget(form) }}
            </div>
            <div class="columns is-mobile is-centered">
                <div class="column is-narrow">
                    <button class="button is-info is-outlined">{{ button_label|default('Сохранить') }}</button>
                </div>
            </div>
            {{ form_end(form) }}

    </div>
</div>
