<link href="{{ asset('styles/css/sidebar.css') }}" rel="stylesheet"/>
<nav class="main-menu">
    ADMIN
    <ul>
        <li>
            <a href="{{ path('homepage_admin') }}">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                            Календарь
                        </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">
                            Заявки
                        </span>
            </a>

        </li>
    </ul>

    <ul class="logout">
        <li>
            <a href="#">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                            Выйти
                        </span>
            </a>
        </li>
    </ul>
</nav>