<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Booking Calendar{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="~bulma-calendar/dist/css/bulma-calendar.min.css" rel="stylesheet">


    {% block stylesheets %}

    {% endblock %}
</head>
<body>
{% include 'utils/sidebar.html.twig' %}
<div class="container">
    <br>
    <div style="margin-left:5%">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </div>
</div>
</body>

</html>